body{
max-width: 1720px;
margin: 0 auto; 

}

.input-container {
    position: relative;
   
  }
  
  .search-input {
    width: 100%;
    padding-right: 30px; /* Espacio para el icono */
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  .hover-effect {
    width: 200px;
    height: 100px;
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: color 0.5s ease; /* Transición para el color del texto */
  }
  
  .hover-effect::before {
    content: "";
    position: absolute;
    bottom: -100%; /* Empieza fuera del elemento */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    transition: bottom 0.5s ease; 
  }

  
 .backLink{
    cursor: pointer;
 }
  
  .hover-effect:hover::before {
    bottom: 0; /* Se mueve hacia arriba cubriendo todo el fondo */
  }
  
  .hover-effect:hover {
    color: white; 
  }
  
  .hover-effect > * {
    position: relative;
    z-index: 1; 
  }
  

  .search-input:focus-visible{
    outline: none;
  }
  .brandName{
    font-size: 12px;
    color: rgb(160, 160, 160);
  }

  .clear-icon {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #000;
  }

  .cardItemList{
    width: 344px;
    height: 344px;
  }

.clickable-button {
    cursor: pointer; /* Cambia el puntero a una mano cuando el mouse pasa sobre el botón */
  }

  .phoneDetails{
    max-width: 1200px;
    margin: auto;
  }

  .img-fluid{
    max-height: 510px;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: auto;
  }
  
  /* Sección de almacenamiento */
  .storage-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .storage-options {
    display: flex;
    gap: 10px;
  }
  
  .storage-btn {
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
  }
  
  .storage-btn.active {
    border: 2px solid black;
  }
  
  /* Sección de color */
  .color-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .color-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .color-box.selected {
    border: 1px solid black;
  }
  
 
  p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .specifications-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0 20px ;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .specifications-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
  }

  .similar-items-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .specifications-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .specifications-table tr {
    border-bottom: 1px solid #ccc;
  }
  
  .spec-label {
    font-weight: bold;
    text-align: left;
    width: 25%;
    padding: 15px 10px;
  }
  
  .spec-value {
    text-align: left;
    padding: 15px 10px;
    width: 75%;
    color: #555;
  }
  
  .specifications-table tr:last-child {
    border-bottom: none;
  }

  .similarItems{
    margin: 50px auto;
   max-width: 1200px;
  }
  
  .similarItems {
    padding: 20px 0 !important;
  }
  
  .specifications-title {
    font-size: 1.5rem !important;
    margin-bottom: 20px !important;
  }
  
  .slick-slide {
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important; /* Eliminar padding en los elementos del carrusel */
    margin: 0 !important; /* Asegurar que no haya margen entre los elementos */
  }
  
  .slick-list {
    padding: 0 !important; /* Eliminar cualquier padding adicional */
    margin: 0 !important;
  }
  
  .slick-track {
    display: flex !important;
    margin: 0 !important; /* Eliminar márgenes en el track */
    width: 1200px!important;
  }

  .delete-button-cart{
    cursor: pointer;
  }
  
  .cart-item{
    max-width: 548px;
  }

  .total-continue-shopping.mobile{
    position: fixed;
    width: 95%;
    bottom: 0;

    padding-bottom: 15px;
  } 

  .total-continue-shopping.desktop{
    position: fixed;
    bottom: 0;
    width: 95%;
    right: 15px;
    padding-bottom: 50px;
  }
  
  .pay-button{
    width: 260px;
    margin-left: 30px;
  }

  .continue-shopping-button{
    width: 260px;
  }

  .photo-cart-items {
    width: 262px;
    height: 324px; 
    overflow: hidden;
  }
  
  .photo-cart-items img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen y la ajusta para llenar el contenedor sin distorsionarla */
  }
  
  .image-container {
    width: 267px; 
    height: 312px; 
    overflow: hidden;  
  }
  
  .image-container img {
    width: 100%;  
    height: 100%; 
    object-fit: contain;  
  }


  .cart-elements{
    max-height: 300px;
  }

  .cart-items-container {
    padding-bottom: 150px;
  }
  